<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZapApp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div id="app">
       <main>
        <div class="parteSopra"></div>
        <div class="parteSotto"></div>
        <div class="zapApp">
            

            <section class="nav_bar">

                <header class="navbarHeader">
                    <section class="firstPart">
                        <div>
                            <img src="./img/avatar_io.jpg" alt="avatar_io">
                            <span class="fw-bold">Sofia</span>
                        </div>
                        <div class="text-end align-self-center">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </section>
                    <section class="secondPart">

                        <div class="bell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div>
                            <p class="fw-bold">Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>

                    </section>
                    <section class="thirdPart">
                        <div class="serch" @click="serchFromContacsList(nomeDaCercare)">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="serchUserInput">
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="nomeDaCercare" @keyup.enter="serchFromContacsList(nomeDaCercare)">
                        </div>
                    </section>
                    <section class="fourthPart" v-if="arrayArchivieChats.length > 0">
                        <p class="fw-bold" @click="showArichivieChats()">Hai {{arrayArchivieChats.length}} chats archiviate</p>
                    </section>
                </header>

                <div class="listOfChatsArchivie" :class="showIndiceArichivieChats == 1 ? `` : `d-none`" @mouseleave="hiddenArchivieChats()">
                    <div class="chats archivie" v-for="archivieChat,index in arrayArchivieChats" @mouseover="showArichivie(index)" @mouseleave="hiddenArichivie()">
                        <div>
                            <img :src=`./img/avatar${archivieChat.avatar}.jpg` :alt=`avatar${archivieChat.avatar}` class="rounded-circle me-2">
                        </div>
                        <div class="w-75">
                            <h5 class="m-0">{{archivieChat.name}}</h5>
                            <p class="m-0">{{archivieChat.messages[archivieChat.messages.length - 1].message}}</p>
                        </div>
                        <div>
                            <span>12:00</span>
                        </div>
                        <div class="chatsArichivie" :class="indiceArichivie == index ? `` : `d-none`">
                            <i class="fa-regular fa-calendar-xmark" @click="extracktChat(index)"></i>
                        </div>
                    </div>
                </div>

                <main class="navbarMain">
                    <div class="chats" v-for="contact,index in contacts" @mouseover="showArichivie(index)" @mouseleave="hiddenArichivie()" @click="changeChat(index)" :class="contact.visible == false ? `d-none` : ``, giveActiveChats(index) == true ? `active` : ``, contact.messages[0].status == `non comparire` ? `d-none` : `` ">
                        <div>
                            <img :src=`./img/avatar${contact.avatar}.jpg` :alt=`avatar${contact.avatar}` class="rounded-circle me-2">
                        </div>
                        <div class="w-75">
                            <h5 class="m-0">{{contact.name}}</h5>
                            <p class="m-0">{{contact.messages.length > 1 ? contact.messages[contact.messages.length - 1].message == `` ? contact.messages[contact.messages.length - 2].message : contact.messages[contact.messages.length - 1].message : contact.messages[contact.messages.length - 1].message}}</p>
                        </div>
                        <div>
                            <span>{{contact.messages[contact.messages.length - 1].date.substring(10, 16)}}</span>
                        </div>
                        <div v-if="giveActiveChats(index) == true" class="chatsArichivie" :class="indiceArichivie == index ? `` : `d-none`">
                            <i class="fa-solid fa-box-archive" @click="archivieChat(index)"></i>
                        </div>
                    </div>
                    <div v-if="contatoreChats == contacts.length">
                        <p class="m-4 fw-bold">Non ci sono contatti con quel nome</p>
                    </div>
                    
                </main>

            </section>

            <section class="messaggi">

                <header class="headerMex">

                    <div :class="contacts[0].messages[0].status == `non comparire` ? `d-none` : ``">
                        <img :src=`./img/avatar${numeroImg}.jpg` :alt=`avatar${numeroImg}` class="rounded-circle me-2">
                    </div>
                    <div class="w-75" :class="contacts[0].messages[0].status == `non comparire` ? `d-none` : ``">
                        <h5 class="m-0">{{displayNome}}</h5>
                        <p class="m-0">Ultimo accesso oggi alle {{orario}}</p>
                    </div>
                    <div class="w-25 text-end" :class="contacts[0].messages[0].status == `non comparire` ? `d-none` : ``">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </header>

                <main class="mainMex">
                    <section class="sfondoMex">
                        <div class="mex" v-for="mex,index in contacts[indiceDisplay].messages" :class="mex.status == `sent` ? `sent` : `received`, mex.date == `` ? `d-none` : ``" @mouseover="showOptionsMex(index)" @mouseleave="hiddenOptionsMex()">
                            <div class="optionsMex">
                                <p class="m-0 ms-2 mt-2">{{mex.message}}</p>
                                <i class="fa-solid fa-angle-down" :class="indiceOptionsMex == index ? `` : `d-none` " @click="showHiddenOptions(index)"></i>
                                <div class="menuOptions" :class="indiceOptions == index ? `` : `d-none`">
                                    <p>Message info</p>
                                    <p @click="deleteMex(index)">Delete message</p>
                                </div>
                            </div>
                            <p class="m-0 me-2 mb-1 clock">{{mex.date}}</p>
                        </div>


                        <!-- <div class="mex sent">
                            <p class="m-0 ms-2 mt-2">ciao</p>
                            <p class="m-0 me-2 mb-1 clock">15:50</p>
                        </div>
                        <div class="mex sent">
                            <p class="m-0 ms-2 mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius adipisci voluptatem vel
                                soluta voluptatum aliquam.</p>
                            <p class="m-0 me-2 mb-1 clock">15:50</p>
                        </div>
                        <div class="mex sent">
                            <p class="m-0 ms-2 mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius adipisci voluptatem vel
                                soluta voluptatum aliquam.</p>
                            <p class="m-0 me-2 mb-1 clock">15:50</p>
                        </div>
                        <div class="mex received">
                            <p class="m-0 ms-2 mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius adipisci voluptatem vel
                                soluta voluptatum aliquam.</p>
                            <p class="m-0 me-2 mb-1 clock">15:50</p>
                        </div> -->
                        
                    </section>
                    <section class="inserireMex" >
                        <div class="grandezzaSectionMex text-end" :class="contacts[0].messages[0].status == `non comparire` ? `d-none` : ``">
                            <i class="fa-regular fa-face-smile m-2 fs-4"></i>
                        </div>
                        <div class="w-75" :class="contacts[0].messages[0].status == `non comparire` ? `d-none` : ``">
                            <input class="w-100 p-2" type="text" v-model="userInput" placeholder="Scrivi il messaggio" @keyup.enter="sentMex(userInput)">
                        </div>
                        <div class="grandezzaSectionMex" :class="contacts[0].messages[0].status == `non comparire` ? `d-none` : ``">
                            <i class="fa-solid fa-microphone fs-4"></i>
                        </div>
                    </section>
                </main>


            </section>


        </div>



       </main> 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.1/build/global/luxon.min.js"></script>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>